.Play_store
{
   margin: 60px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.img 
{
   display: flex;
   gap: 30px;
}
.img img
{
    width: 200px;
    cursor: pointer;
}
.text_SIde p
{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}




@media (max-width:1050px) {
   
}
@media (max-width:900px) {
   
}

@media (max-width:750px) {
 .section p
 {
    font-size: 15px;
    max-width: none;
 }
}



@media (max-width:450px) {
 .text_SIde p
{
    font-size: 25px;
}
.img img
{
    width: 150px;
}
  
}


@media (max-width:360px) {
  
.text_SIde p
{
    font-size: 20px;
}
}