.header
{
   height: 34vw;
   margin: 30px auto;
   background: url('./header_img.png') no-repeat;
   background-size: contain;
   position: relative;
   
}
.header h2
{
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 9vw;
    left: 7vw;
    animation: fadeIn 3s    ;
}
.header p
{
    animation: fadeIn 3s    ;
    color: white;
    position: absolute;
    top: 20vw;
    left: 7vw;
}
.header button
{
    position: absolute;
    top: 26vw;
    font-size: 11px;
    color: #747474;
    background-color: white;
    left: 7vw;
    border: 0px ;
    border-radius: 5rem;
    width: 7rem;
    height: 2.5rem;
    animation: fadeIn 3s    ;
}





@media (max-width:1050px) {
      .header h2
      {
        font-size: 32px;
      }
      .header p
      {
        top: 17vw;
      }
}
@media (max-width:900px) {
     .header h2
      {
        font-size: 28px;
        font-weight: 700;
        top: 6vw;
      }
      .header p
      {
        top: 15vw;
        font-size: 12px;
      }

}

@media (max-width:750px) {
   .header h2
      {
        font-size: 28px;
        font-weight: 700;
        top: 6vw;
      }
      .header p
      {
        top: 15vw;
        font-size: 12px;
      }

}

@media (max-width:450px) {
   .header h2
      {
        font-size: 15px;
        font-weight: 700;
        top: 6vw;
      }
      .header p
      {
        top: 15vw;
        font-size: 7px;
      }
      .header button
      {
        font-size: 8px;
        top: 24vw;
        width: 4rem;
        height: 1.5rem;
      }

}


@media (max-width:360px) {
   .header h2
      {
        font-size: 15px;
        font-weight: 700;
        top: 6vw;
      }
      .header p
      {
        top: 15vw;
        font-size: 6px;
      }
      .header button
      {
        font-size: 8px;
        top: 24vw;
        width: 4rem;
        height: 1.5rem;
      }

}


